$color : red;
$color2 : blue;
$max_width: 1280px;

@mixin test ($color) {
  text-align: right;
  color: $color;
}

@mixin border () {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0
}

h1, h2, h3, h4, h5{
  margin: 0;
  padding: 0;
}

#app  {
  width: 100%;
  background: #FFF;
  min-height: 100vh;
}

#main {
  > h1 {
    @include test($color)
  }
  > h2 {
    @include test($color2)
  }
  > #left, #message, #menu {
    @include border()
  }
}

/********* Left block *********/
#left {
  width: 30%;
  min-height: 100vh;
  position: fixed;
  left: 0;
  border-right: 1px solid #e3e1e1;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .10);
}

#personnal {
  height: 80px;
  width: 75%;
  padding: 5px 12.5%;
}

.userPhoto {
  float: left;
  border-radius: 50%;
  overflow: hidden;
  margin: 15px 5% 0 0;
}

.userPhoto img{
  width: 60px;
  height: 50px;
}

.userInfo {
  float: left;
}

.userInfo h2 {
  font-size: 20px;
  line-height: 70px;
  font-weight: 100;
}

.eachUser {
  height: 70px;
  width: 75%;
  padding: 5px 12.5%;
}

.eachUserPhoto{
  float: left;
  border-radius: 50%;
  overflow: hidden;
  margin: 15px 5% 0 0;
}

.eachUserPhoto img{
  width: 40px;
  height: 40px;
}

.eachUserInfo {
  float: left;
}

.eachUserInfo h2 {
  font-size: 16px;
  line-height: 70px;
  font-weight: 100;
}

.active{
  background: #636363;
}

/********* Right Block *********/
#right {
  width: 70%;
  height: 100%;
  position: relative;
  left: 30%;
}

#chat {
  position: relative;
  max-height: 90%;
}

#message {
  min-height: 10%;
  width: 70%;
  position: fixed;
  bottom: 0;
}

#messageForm {
  width: 80%;
  margin: 0 auto;
}

#messageArea {
  resize: none;
  border-radius: 10px;
  border: none;
  background:#d8d8d8;
  width: 80%;
  padding: 5px 2.5%;
  height: auto;
  overflow: auto;
}

.sender {
  background: #0084ff;
  padding: 15px;
  border-radius: 20px;
  color: #FFF;
}

.receiver {
  background: #636363;
  padding: 15px;
  border-radius: 20px;
  color: #FFF;
}

.message_received{
  clear: both;
  float: left;
  margin:10px 2%;
}

.message_send{
  clear: both;
  float: right;
  margin:10px 2%;
}

.speakingPhoto {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}